$buttonBg: rebeccapurple;

button {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 5px;
  background: $buttonBg;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: lighten($buttonBg, 20%);
}
