- var title = "Default title"

block vars

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    block css
  body
    include ../components/header.pug
    block content
    block js
